.App{
    margin: 0;
    padding:0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.App img{
    width: 150px;
    border: solid black 2px;
    border-radius: 8px;
    
    margin: 20px 20px 10px 20px;
}

.App button{
    margin: 25px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(125, 125, 134);
    color: white;
    border: none;
    border-radius: 8px;
}

